
.shoppable-lookpage__wrapper {
  padding-block: 3rem;
}

@media screen and (min-width: 768px) {
  .shoppable-lookpage__wrapper {
    padding-block: 4rem;
  }
}

.shoppable-lookpage__image--container {
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  gap: 0.3rem;
}

@media screen and (min-width: 400px) {
  .shoppable-lookpage__image--container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: 0.3rem;
  }
}

@media screen and (min-width: 768px) {
  .shoppable-lookpage__image--container {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 0.3rem;
  }
}

.shoppable-lookpage__title {
  font-size: 3.2rem;
  text-align: center;
}

.shoppable_img,
.shoppable-lookpage__image--wrapper .placeholder,
.placeholder-svg {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
}

.shoppable-lookpage__image--wrapper {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 30rem;
}

.shoppable-lookpage__image--wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.shoppable-lookpage__image--wrapper:hover::before {
  opacity: 1;
  visibility: visible;
  transition: .5s all;
  transform: translateX(0);
}

.shoppable-lookpage__image--wrapper::after {
  content: 'Shop Now';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 60%;
  height: 10%;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.shoppable-lookpage__image--wrapper:hover::after {
  opacity: 1;
  visibility: visible;
  transition: .75s all;
}

.shoppable-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.65);
}

.shoppable-modal__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 40rem;
  width:90%;
  height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@media screen and (min-width: 600px) {
  .shoppable-modal__content {
    height: 70%;
  }
}

.shoppable-modal__body {
  padding: 0;
  position: relative;
  height: 100%;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.shoppable-modal__close {
  color: #ffffff;
  font-size: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0rem;
  top: -4rem
}

.shoppable-modal__close:hover,
.shoppable-modal__close:focus {
  color: #dddddd;
  text-decoration: none;
  cursor: pointer;
}

.modal-img__container {
  display: none;
  position: relative;
  width: 100%;
  height:100%;
}

.modal-product__container {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
}

.modal-product {
  color: #1d1d1d;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: 15rem;
  position: relative;
  z-index: 1010;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px #80808033;
  visibility: hidden;
  transform: translateY(2rem);
  opacity: 0;
}

.modal-pulse__wrapper:hover .modal-product {
  visibility: visible;
  transition: .5s all;
  transform: translateY(0);
  opacity: 1;
}

.modal-product__image--wrapper {
  width: 7rem;
  height: 10rem;
}

.modal-product__image {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-product__title,
.modal-product__price {
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
}

.modal-product__img--link {
  display: block;
  width: 100%;
  height: 100%;
}

.modal-product__title {
  text-decoration: none;
  color: #1d1d1d;
}

.modal-product__cta {
  padding: 0.5rem 1em;
  min-height: 3rem;
  font-size: 1.3rem;
}

.modal-pulse__wrapper {
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}
